<h2><%= @blog.title %></h2>
</p>



<p>
  <%= @blog.body %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog), class:'btn btn-outline-info' if logged_in?(:site_admin) %>
<%= link_to 'Delete', blogs_path(@blog), class:'btn btn-outline-danger' if logged_in?(:site_admin) %> 

