<div class="form-inline">
  <div class="form-group nested-fields">
    <%= f.text_field :name, class:'form-control', placeholder: 'Enter technology' %>
    <%= link_to_remove_association 'Remove technology', f, class:'btn btn-outline-danger' %>
  </div>
</div>