<h1>About Me</h1>

<hr >

<div class="row">
  <div class="col-md-4">
    <%= image_tag "avatar.png", width: 300, height: 300, alt: "profile image", class:'rounded-circle img-thumbnail' %>
    <h3>Imma cat<small><i> - purrrr</i></small></h3>
    
  </div>
  
  <div class="col-md-8">
    <p>Street art air plant fingerstache sustainable, single-origin coffee XOXO you probably haven't heard of them church-key brunch fashion axe franzen. Leggings tumblr shabby chic irony. Hammock cornhole next level, bitters brunch farm-to-table lomo drinking vinegar raclette. Cray wayfarers PBR&B tattooed pabst. Butcher green juice whatever af freegan, williamsburg lomo yr trust fund artisan fap ugh narwhal selvage copper mug. Bushwick drinking vinegar authentic lyft, microdosing knausgaard taxidermy lomo helvetica next level listicle. Next level squid pitchfork, post-ironic XOXO chambray tattooed cardigan aesthetic coloring book 8-bit.</p>
  </div>
</div>

